    /*
    Flaticon icon font: Flaticon
    Creation date: 06/08/2019 00:21
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-team:before { content: "\f100"; }
.flaticon-man:before { content: "\f101"; }
.flaticon-team-1:before { content: "\f102"; }
.flaticon-group:before { content: "\f103"; }
.flaticon-document:before { content: "\f104"; }
.flaticon-human:before { content: "\f105"; }
.flaticon-product:before { content: "\f106"; }
.flaticon-phone:before { content: "\f107"; }
.flaticon-pin:before { content: "\f108"; }
.flaticon-mail:before { content: "\f109"; }
    
    $font-Flaticon-team: "\f100";
    $font-Flaticon-man: "\f101";
    $font-Flaticon-team-1: "\f102";
    $font-Flaticon-group: "\f103";
    $font-Flaticon-document: "\f104";
    $font-Flaticon-human: "\f105";
    $font-Flaticon-product: "\f106";
    $font-Flaticon-phone: "\f107";
    $font-Flaticon-pin: "\f108";
    $font-Flaticon-mail: "\f109";